:root {
  font-size: 60%;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  user-select: none;
}

/* NAV BAR */
.nav-container {
  overflow-y: hidden;
  background-color: #FEFE65;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  border-bottom: 1px solid #5c8001;
}

.nav-container .logo-container {
  margin-left: 5.5rem;
}

.nav-container .links-container {
  width: 55rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
  font-size: 3.2rem;
}

.nav-link {
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #515643;
}

.nav-link:hover{
  transition: 0.2;
  border-bottom: 1px solid #515643;
}

.nav-link-button {
  position: absolute;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
  background-color: #515643;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #515643;
  right: 9rem;
}

.nav-link-button:hover {
  transition: 500ms;
  background-color: #FEFE65;
  color: #515643;
}

/* SESSÃO INICIAL */
.section-principal {
  width: 100%;
  height: 86rem;
  overflow-y: hidden;
  background-color: #FEFE65;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-principal .logo-section img {
  margin-left: 20rem;
  width: 40rem;
}

.image-container:first-child{
  position: relative;
  margin-right: 50rem;
  margin-bottom: 40rem;
  box-shadow: 4px 4px 5px 0px rgba(94,94,94,1);
  border-radius: 6px;

}

.image-container:last-child{
  position: absolute;
  top: 45rem;
  right: 5rem;
  box-shadow: 4px 4px 5px 0px rgba(94,94,94,1);
  border-radius: 6px;

}

/* Sessão sobre */
#about {
  width: 100%;
  height: 96rem;
  overflow-y: hidden;
  background-color: #cfd3c5;
  border-top: 1px solid #5c8001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cfd3c5;
  border-radius: 4px;
  width: 60rem;
  height: 80rem;
  margin-top: 1.5rem;
}

#about .about-content .about-paragraph {
  font-size: 2.3rem;
  color: #515643;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}

#about .about-content .about-paragraph:nth-child(1) {
  margin-bottom: 1.5rem;
}

#about .about-content .about-paragraph:nth-child(2) {
  margin-bottom: 1.5rem;
}

#about .about-content .about-paragraph:nth-child(3) {
  margin-bottom: 1.5rem;
}

/* Sessão Fotos */
#photo {
  width: 100%;
  height: 96rem;
  overflow-y: hidden;
  background-color: #cfd3c5;
  /* border-bottom: 1px solid #5c8001;
  border-top: 1px solid #5c8001; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#photo .photo-header {
  margin-bottom: 12rem;
}

#photo .grid-photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

}

#photo .grid-photo img {
  width: 300px;
  border-radius: 5px;
}

#photo .buttonPhoto {
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  width: 220px;
  height: 100px;
  border: 1px solid #515643;
  background-color: #515643;
  color: white;
  margin-top: 3rem;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

/* Sessão Contato */
#contact {
  width: 100%;
  height: 96rem;
  overflow-y: hidden;
  background-color: #FEFE65;
  border-top: 1px solid #5c8001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact h1 {
  font-size: 3.2rem;
  font-family: 'Ubuntu', sans-serif;
}

#contact .contact-wrapper {
  display: flex;
  justify-content: space-between;
}

#contact .contact-wrapper .left-section {
  background-color: blue;
  margin-right: 50rem;
}

#contact .contact-wrapper .right-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contact .contact-wrapper .right-section .input-wrapper {
  background: #fff;
  width: 70rem;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .contact-wrapper .right-section .input-data {
  height: 80px;
  /* width: 100%; */
  position: relative;
}

#contact .contact-wrapper .right-section .input-wrapper .input-data input {
  height: 3rem;
  width: 35rem;
  border: none;
  border-bottom: 2px solid silver;
  outline: none;
  font-size: 1.7rem;
  margin-top: 3rem;
}

#contact .contact-wrapper .right-section .input-wrapper .input-data input:focus ~ label,
#contact .contact-wrapper .right-section .input-wrapper .input-data input:valid ~ label {
  transform: translateY(-20px);
}

#contact .contact-wrapper .right-section .input-wrapper .input-data label {
  position: absolute;
  left: 0;
  bottom: 3rem;
  color: gray;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
  transition: all 0.3s ease;
  /* top: 70rem; */
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

